---

---

<section class="flex justify-center items-center mb-12 sm:mb-24 my-12 sm:m-0 transition-all">
  <img class="w-[150px] m-auto " src="/img/HeroLogo.svg" alt="Rainbow six siege logo">
</section>
