---


---



<section class="footer w-full flex flex-col   text-white" style="background: rgb(29, 30, 34);">
  <section class="bg-black flex justify-center gap-12 items-center p-2">
    <div>
      <p class="text-gray-500">Visita los canales oficiales de ubisoft</p>

    </div>


    <div class="flex gap-4"> 
      <a href="https://rainbow6.com/social/reddit"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2xJt7wrrzX0dsPwYChg3mU/fd317afb5a632ff426a2293cab41f683/social_reddit.png" alt="" class="w-10"></a>

      <a href="https://rainbow6.com/social/facebook"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/32xRzuzxNUJYa3QO5iY8B5/7b048bf697702593da82c3325e7dc0d2/_Ubisoft__global_facebook_logo.png" alt="" class="w-10"></a>
  
      <a href="https://rainbow6.com/social/twitter"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7MSfSWhXCnKkoVagD3E6lJ/a522fb64dd1eec95ee5de804ddf6df64/_Ubisoft__global_twitter_logo.png" alt="" class="w-10"></a>
  
      <a href="https://rainbow6.com/social/instagram"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5bMQZANieDyITKrsqgJeMx/d3c604271417b0236d715de118ef778c/_Ubisoft__global_instagram_logo.png" alt="" class="w-10"></a>
  
      <a href="https://rainbow6.com/social/youtube"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/68qlJsyTv8sTv54rqqfOPO/05083db5d6dbdbcb5ed34464f235a2ed/_Ubisoft__global_youtube_logo.png" alt="" class="w-10"></a>
  
      <a href="https://rainbow6.com/social/twitch"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7qD6KHarSZ9h2uc7G5o20C/07d38541a2b66370173c40d18dd3a0da/_Ubisoft__global_twitch_logo.webp" alt="" class="w-10"></a>
      
      <a href="https://rainbow6.com/social/discord"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4lHAczCMB0VZPRscZjFMMe/061a9375a5c79e3f09dd9f18f921cbdb/discord_social.png" alt="" class="w-10"></a>
  
      <a href="https://rainbow6.com/social/tiktok"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2drhOVlK5WdC73NRAyfnk4/4e8d84a5b39b6d602c27327f9a0450a2/tiktok_social.png" alt="" class="w-10"></a>

    </div>
   
  </section>

  <article class="text-center p-4" >
    <span class="flex mx-auto my-0 w-1/3 justify-center items-center gap-24 ">
      <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4sR4Qd4YtPGs6CyYUkVkFM/6ca0a342d790345d2ca23db3a6dfd69c/r6s-logo-ww.png" alt=""></a>
      <a href="https://www.ubisoft.com/es-mx/"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5RMQ9vwghls0An4wzhKtz7/d2f9af89354d87f10980979ef375b4e0/footer_logo.png" alt=""></a>

    </span>


    <div class="w-3/4  flex flex-col justify-center items-center mx-auto my-0 gap-8 ">
      <p>
        Este sitio web es un proyecto fan-made y no está afiliado, respaldado ni patrocinado por Ubisoft.  
        Todo el contenido relacionado con <strong>Rainbow Six Siege</strong> (imágenes, nombres de personajes, logotipos)  
        es propiedad de Ubisoft Entertainment. Todos los derechos reservados.
      </p>
    
      <p>
        Para más información sobre <strong>Rainbow Six Siege</strong> y la política de derechos de autor de Ubisoft,  
        visita <a href="https://www.ubisoft.com" class="text-cyan-300 hover:underline">Ubisoft.com</a> y  
        <a href="https://legal.ubi.com" class="text-cyan-300 hover:underline">Política de Derechos de Autor</a>.
      </p>
    
      <p>
        El contenido de este sitio es para fines de entretenimiento sin fines de lucro y no pretende ser una fuente oficial de información sobre <strong>Rainbow Six Siege</strong>.
      </p>
    
    </div>
    

  </article>

  
  


</section>


