---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import News from '../sections/News.astro';
import Maps from '../sections/Maps.astro';
import Seasons from '../sections/Seasons.astro';
---

<Layout title="Fan-made R6S">
	<main>

		<Hero />

		<News />

		<Maps />

		<Seasons />
	</main>
</Layout>

<style>

</style>
