---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import News from '../sections/News.astro';
import Maps from '../sections/Maps.astro';
import Seasons from '../sections/Seasons.astro';
import Operators from '../sections/Operators.astro';
import Footer from './Footer.astro';
---

<Layout title="Fan Page Rainbow Six Siege ">
	<main>

		<Hero />

		<News />
		
		<Operators />
		
		<Seasons />

		<Maps />


		<Footer />

	</main>
</Layout>

<style>

</style>
