---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import News from '../sections/News.astro';
---

<Layout title="Fan-made R6S">
	<main>

		<Hero />

		<News />

		
	</main>
</Layout>

<style>

</style>
