---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import News from '../sections/News.astro';
---

<Layout title="Welcome to Astro.">
	<main>

		<Hero />

		<News />

	</main>
</Layout>

<style>

</style>
