---



---
<link rel="stylesheet" href="/styles/season.css">

 <section class="flex gap-4 justify-center items-center my-12 content " >



</section>



<script>
  import data from '../data/seasons.json'
  

  let count = 0
  const content = document.querySelector('.content')

  function serveData(data){


    const htmlData = data.map((item) => {

    return `<article class="relative z-10 inset-0 itemArticle  "
    style="background-image: url(${item.background});>
    <span class="layerSeason inset-0 absolute"></span>
    <button class=" absolute z-20 flex flex-col justify-center items-center centerContent hover:brightness-200">
      <img src=${item.centerImage} class="z-50 w-[40%] mx-auto my-0" alt="">
      <p class="text-3xl my-4 z-50 itemText" >${item.date}</p>
      <a href=${item.link} target="_blank" class="text-sm md:text-xl " >Detalles</a>
    </button>
    </article> `
    }).join(' ')

    content.innerHTML = htmlData 


    content.children[1].classList.add('mainOp')
    content.children[1].classList.remove('itemArticle')
    
    content.children[0].classList.add('before')
    content.children[0].style.backgroundImage = 'none'
    
    content.children[2].classList.add('after')
    content.children[2].style.backgroundImage = 'none'



  }

  function updateSlide(data){
    const start = count
    const end = count + 3

    const itemToShow = data.slice(start, end)
    
    serveData(itemToShow)

    const after = document.querySelector('.after')
    const before = document.querySelector('.before')

    if (count <= 0) {
    before.setAttribute('disabled', 'true');
  } else {
    before.removeAttribute('disabled');
  }

  if (end >= data.length) {
    after.setAttribute('disabled', 'true');
  } else {
    after.removeAttribute('disabled');
  }


    addEventListeners(data)
  }

  function addEventListeners(data){
    const after = document.querySelector('.after')
  const before = document.querySelector('.before')

  
  function increaseValue(){
    if(count + 3 < data.length ){
      count++;
      updateSlide(data)
    }


  }

  function decreaseValue(){
    if(count  > 0){
      count--;
      updateSlide(data)
    }
  

  }

  after.addEventListener('click', increaseValue)
  before.addEventListener('click', decreaseValue)

  }

  updateSlide(data)



 





  
  
</script>



