---
import HeroLogo from '../components/Hero/HeroLogo.astro'
import NavBar from '../components/Hero/NavBar.astro'
import PlayButton from '../components/Hero/PlayButton.astro'


---

<section class="hero text-white">

  <NavBar />
  <HeroLogo />

  <h2 
  class="text-3rexl sm:text-5xl text-center  mx-auto w-52 sm:w-[30rem]
  flex-wrap mb-24 ">"UNO DE LOS MEJORES SHOOTERS EN PRIMERA PERSONA JAMaS CREADO. 10/10"</h2>

  <PlayButton />
</section>
