---
import MapsItems from "../sections/Maps.astro"
import Title from "../components/Title.astro"
import MapsItem from "../components/MapsItem.astro"
---

<section class="Maps relative " id="Maps">
  <span class="LayerMaps z-40 inset-0 " ></span>

  <div class="relative z-50">

    <Title title="Mapas" />

    
    <div class="md:grid md:grid-cols-6 md:grid-rows-3 flex flex-col  h-fit px-24 ">
      
      <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege/game-info/maps/coastline" class="flex flex-col w-fit bg-white col-start-1 col-end-3 brightness-50 hover:brightness-90 cursor-crosshair 
      hover:scale-125 hover:z-50 transition-all" target="_blank">

        <img src='/img/maps/litoral.webp'
         alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">litoral</p>
        </span>
      </a>

      
   <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege/game-info/maps/villa" target="_blank" class="flex flex-col w-fit bg-white col-start-3 col-end-5 row-start-1 row-end-3 brightness-50 hover:brightness-90 
   cursor-crosshair hover:scale-125 hover:z-50 transition-all">

        <img src='/img/maps/villa.webp' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Villa</p>
        </span>
      </a>
      
      <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege/game-info/maps/clubhouse" target="_blank" class="flex flex-col w-fit bg-white col-start-5 col-end-7 row-start-1 row-end-2 brightness-50 hover:brightness-90 
      cursor-crosshair hover:scale-125 hover:z-50 transition-all">

        <img src='/img/maps/club.webp' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Club</p>
        </span>
      </a>

      <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege/game-info/maps/oregon" target="_blank" class="flex flex-col w-fit bg-white col-start-1 col-end-2 row-start-2 row-end-3 brightness-50 hover:brightness-90 
      cursor-crosshair hover:scale-125 hover:z-50 transition-all">

        <img src='/img/maps/oregon.webp' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Oregon</p>
        </span>
      </a>


      <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege/game-info/maps/chalet" class="flex flex-col w-fit bg-white col-start-2 col-end-3 brightness-50 hover:brightness-90 
      cursor-crosshair hover:scale-125 hover:z-50 transition-all">

        <img src='/img/maps/chalet.webp' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Chalet</p>
        </span>
      </a>

      <a href="https://www.ubisoft.com/es-mx/game/rainbow-six/siege/game-info/maps/theme-park" target="_blank" class="flex flex-col w-fit bg-white col-start-5 col-end-7 row-start-2 row-end-3 brightness-50 hover:brightness-90 
      cursor-crosshair hover:scale-125 hover:z-50 transition-all">

        <img src='/img/maps/parque.webp' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Theme Park</p>
        </span>
      </a>
    </div>


  </div>
  
  
  
  
</section>