---
import MapsItems from "../sections/Maps.astro"
import Title from "../components/Title.astro"
import MapsItem from "../components/MapsItem.astro"
---

<section class="Maps relative ">
  <span class="LayerMaps z-40 inset-0 " ></span>

  <div class="relative z-50">

    <Title title="Mapas" />

    
    <div class="md:grid md:grid-cols-6 md:grid-rows-3 flex flex-col  h-fit p-24 ">
      
      <div class="flex flex-col w-fit bg-white col-start-1 col-end-3 brightness-50 hover:brightness-90 cursor-crosshair">

        <img src='https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5GfAQ3pXCJnDqiqaDH3Zic/db1722cd699bb864ee8f7b0db951b0c3/r6-maps-coastline.jpg' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">litoral</p>
        </span>
      </div>

      
   <div class="flex flex-col w-fit bg-white col-start-3 col-end-5 row-start-1 row-end-3 brightness-50 hover:brightness-90 cursor-crosshair">

        <img src='https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/Io6dxNeHbCbJoF9WLJf9s/ebf89b009affba37df84dcf1934c74e0/r6-maps-villa.jpg' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Villa</p>
        </span>
      </div>
      
      <div class="flex flex-col w-fit bg-white col-start-5 col-end-7 row-start-1 row-end-2 brightness-50 hover:brightness-90 cursor-crosshair">

        <img src='https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1vCw5eD2XzxZlv6Au1gtui/baeebaa75cd672e0af8f9f624cf61bde/r6-maps-clubhouse.jpg' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Club</p>
        </span>
      </div>

      <div class="flex flex-col w-fit bg-white col-start-1 col-end-2 row-start-2 row-end-3 brightness-50 hover:brightness-90 cursor-crosshair">

        <img src='https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/Z9a0gU7iR0vfcbXtoJUOW/42ad6aabbd189fbcd74c497627f1624e/r6-maps-oregon.jpg' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Oregon</p>
        </span>
      </div>


      <div class="flex flex-col w-fit bg-white col-start-2 col-end-3 brightness-50 hover:brightness-90 cursor-crosshair">

        <img src='https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/Km3ZJUM7ZMVbGsi6gad5Y/be2827fa6fbe0577001229effb914a27/rainbow6_maps_chalet_thumbnail.jpg' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Chalet</p>
        </span>
      </div>

      <div class="flex flex-col w-fit bg-white col-start-5 col-end-7 row-start-2 row-end-3 brightness-50 hover:brightness-90 cursor-crosshair">

        <img src='https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2immPCOZj6tTHMM9zeBg5B/e88428d55e970fd080e14489fbffeb06/rainbow6_maps_theme-park_thumbnail.jpg' alt="" class="w-fit h-full ">
      
        <span class=" text-black text-4xl   ">
          <p class="text-center  justify-center items-center mx-auto my-0 tracking-widest capitalize">Theme Park</p>
        </span>
      </div>
    </div>


  </div>
  
  
  
  
</section>