---
import Title from "../components/Title.astro"
import InfoNews from '../components/News/InfoNews.astro'
---


<section class="News ">

  <Title title="Ultimas noticias" />

  <div class="px-24 lg:flex lg:flex-col lg:gap-8"> 
    <InfoNews 
    img="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/KOm0D3UuBjNDypujIlMee/2db3229bbd51b2f2a076b588f432dea6/PATCHENOTES_ADDENDUM_Y9S3_960x540.jpg"
    title="Y9S3 PATCH NOTES ADDENDUM"
    date="20/9/2024"
    description="See the changes made over the course of the Y9S3 Season Test Server."/>
  </div>
</section>