---
import OperatorItem from "../components/OperatorItem.astro";
import Title from "../components/Title.astro"


---



<section class="operators my-24 p-12" id="Agents" >
  <Title title="Operadores" />

  <div class="">
    <OperatorItem />


  </div>

</section>