---
import Title from "../components/Title.astro"
import SeasonsItem from "../components/SeasonsItem.astro"
---

<section class="seasons" id="Seasons">
  <Title title="Temporadas"/>


  <div class="flex justify-center w-fit mx-auto my-0">
    <SeasonsItem client:load server:defer />


  </div>

</section>


<script>

</script>